<ion-view title="Inicio">
  <ion-content padding="true">
    <div style="margin-top:150px">
    <div class="row">
    <button class="button button-block button-assertive" ui-sref="faq">
        Preguntas Frecuentes
    </button>
    </div>
    <div class="row">
    <button class="button button-block button-assertive">
        Block Button
      </button>
      </div>
    <div class="row">
    <button class="button button-block button-assertive">
    Block Button
    </button>
    </div>
    <div class="row">
    <button class="button button-block button-assertive">
    Block Button
    </button>
    </div>
  </div>
  </ion-content>

</ion-view>
